doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/haha.css')
  
  body

block content
  h1= title
  p Welcome to #{title}

  canvas#firstCanvas

  script(src='../javascripts/testgl/Oak3D_v_0_5.js') 
  script#shader-fs(type="x-shader/x-fragment").
    precision mediump float;
    varying vec4 vColor;

    void main(void) {
        gl_FragColor = vColor;
    }
  script#shader-vs(type="x-shader/x-vertex").
    attribute vec3 aVertexPosition;
    attribute vec4 aVertexColor;

    uniform mat4 uMVMatrix;
    uniform mat4 uPMatrix;

    varying vec4 vColor;

    void main(void) {
        gl_Position = uPMatrix * uMVMatrix * vec4(aVertexPosition, 1.0);
        vColor = aVertexColor;
    }
  script(src='http://nej.study.163.com/libs/nej/src/define.js')
  script(src='../javascripts/testgl/haha.js')