extends layout

block content
  h1= title
  p Welcome to #{title},#{user.name}
  .nav
    a(href='/users') mongodb test
    br
    a(href='/testgl') test GL
    br
    a(href='/glbanner') GL Banner test
    br
    a(href='/responsive') Responsive Demo
    br
    a(href='/haha')  Demo
    br